@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400&display=swap");
/* universal selector */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  font-size: 14px; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #0e1b43;
  transition: opacity 250ms ease-in; }

a:hover {
  opacity: 0.85; }

ul, li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

h1,
h2 {
  font-weight: 300; }

section {
  padding-block: 8rem; }

.container {
  max-width: 90%;
  width: 1200px;
  margin: 0 auto;
  position: relative; }

.txt-center, .testimonials .container h2, .products .container h2 {
  text-align: center; }

.flex-col, .products .container .card .card-body, .btn-teal {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.gap-1, .products .container {
  gap: 1em; }

.gap-2 {
  gap: 2em; }

.gap-3 {
  gap: 3em; }

.grid {
  display: grid;
  place-items: center; }

.btn {
  color: var(--btn-clr, black);
  border: 2px solid var(--btn-clr, black);
  border-radius: 2px;
  position: relative;
  isolation: isolate;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.5em 1em;
  background: 0;
  transition: color 300ms linear;
  cursor: pointer; }

.btn-teal {
  --btn-clr: hsl(37, 29%, 47%);
  --transform-origin: bottom; }

.btn-accent {
  --btn-clr: hsl(226, 65%, 16%);
  --transform-origin: top;
  margin-left: 2em; }

.btn-primary {
  --btn-clr: hsl(226, 65%, 16%); }

.btn:hover,
.btn:focus {
  color: white; }

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--btn-clr);
  transform: scale(1, 0);
  transform-origin: var(--transform-origin, center);
  transition: transform 300ms ease; }

.btn:hover::after {
  transform: scale(1, 1); }

.m-1 {
  margin: 1rem; }

.my-1, .content h2,
.content h3,
.content p, .footer li, .testimonials .container .testimonials_card h4, .advantage .content ul li {
  margin-block: 1rem; }

.mt-1, .prod_details .container .prod_details-images .wrapper-thumb_img {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4, .content {
  margin-top: 4rem; }

.mb-1, .prod_details .container .prod_details-desc .prod_details-desc--content p, .prod_details .container .prod_details-desc .prod_details-desc--header .price, .products .container .card .card-body .price, h1,
h2 {
  margin-bottom: 1rem; }

.p-1 {
  padding: 1em; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4, .swiper-container {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

/* navbar */
header {
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent; }
  header.scrolled {
    background-color: rgba(231, 224, 212, 0.95) !important;
    animation: fadeInDown 500ms linear both;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }

@keyframes fadeInDown {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    top: 0; } }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: static; }
    header .container .logo {
      flex-basis: 20%; }
      header .container .logo img {
        min-width: 8rem; }
    header .container nav {
      flex-basis: 70%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap; }
      header .container nav .nav_list {
        position: absolute;
        width: 50vw;
        padding-right: 1.5em;
        transform: translateX(1000%);
        top: 0;
        transition: all 400ms ease-in-out; }
        @media (min-width: 991px) {
          header .container nav .nav_list {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            gap: 1.5em; } }
        header .container nav .nav_list.active {
          transition: all 400ms ease-in-out;
          background-color: rgba(231, 224, 212, 0.95);
          height: 100vh;
          transform: translateX(25%);
          top: 100%; }
          header .container nav .nav_list.active .nav_list--item {
            margin-block: 3em; }
      header .container nav .nav_list--item {
        text-align: right; }
        @media (min-width: 991px) {
          header .container nav .nav_list--item {
            text-align: unset; } }
        @media (min-width: 991px) {
          header .container nav .nav_list--item .nav_link {
            display: flex;
            align-items: flex-start;
            justify-content: normal;
            flex-wrap: nowrap;
            gap: 0.5em; } }
      header .container nav .nav_icons {
        margin-left: auto;
        margin-right: 1.5em;
        z-index: 2; }
        @media (min-width: 991px) {
          header .container nav .nav_icons {
            margin-right: 0 !important; } }
        header .container nav .nav_icons .nav_list--item {
          float: left; }
          header .container nav .nav_icons .nav_list--item + .nav_list--item {
            margin-left: 1rem; }
        header .container nav .nav_icons span {
          display: none; }
          @media (min-width: 991px) {
            header .container nav .nav_icons span {
              display: inline-block; } }
        header .container nav .nav_icons .cart .nav_link img {
          display: unset; }
        header .container nav .nav_icons .cart .nav_link .price {
          display: none; }
        header .container nav .nav_icons .cart:hover .price {
          display: block; }
  header .svg-inline--fa {
    max-width: 30px;
    aspect-ratio: 1;
    width: 17px; }
  header .nav__toggle {
    display: block;
    position: absolute;
    right: 1em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    background: none;
    color: inherit;
    border: none;
    transition: all 400ms ease; }
    header .nav__toggle .bar1,
    header .nav__toggle .bar2,
    header .nav__toggle .bar3 {
      display: block;
      background: #0e1b43;
      height: 3px;
      margin: 3px auto;
      transition: 0.4s; }
    header .nav__toggle .bar1.change {
      transform: rotate(-70deg) translate(-9px, -5px);
      width: 70%; }
    header .nav__toggle .bar2.change {
      transform: translateY(10px); }
    header .nav__toggle .bar3.change {
      transform: rotate(70deg) translate(-2px, -9px);
      width: 70%; }
    @media (min-width: 991px) {
      header .nav__toggle {
        display: none; } }
.swiper-container {
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    .swiper-container {
      height: 100vh; } }
.swiper-slide {
  text-align: center;
  background: #fff;
  min-height: 90vh;
  cursor: grab;
  color: #0e1b43;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; }

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  border: 2px solid #000; }

.swiper-pagination-bullet-active {
  background: #000; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
  left: 1.5rem; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
  right: 1.5rem; }

.banner {
  background-color: #dccebc; }

.swiper-slide,
.banner,
.about {
  text-align: center; }
  @media (min-width: 768px) {
    .swiper-slide .container,
    .banner .container,
    .about .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      gap: 3em; } }
  .swiper-slide .image,
  .banner .image,
  .about .image {
    flex: 1;
    display: grid;
    place-items: center; }
    .swiper-slide .image img,
    .banner .image img,
    .about .image img {
      filter: drop-shadow(0 15px 5px #352c1c);
      max-width: 70%;
      margin: auto; }
      @media (min-width: 768px) {
        .swiper-slide .image img,
        .banner .image img,
        .about .image img {
          max-width: 100%; } }
  .swiper-slide .content,
  .banner .content,
  .about .content {
    flex: 1; }

#home_prod .card .btn-teal {
  transition: visibility 250ms ease-in-out;
  visibility: hidden; }

#home_prod .card:hover .btn-teal {
  visibility: visible; }

@media (max-width: 768px) {
  .btn-teal {
    visibility: visible !important; } }

.advantage {
  color: #dccebc;
  background-color: rgba(33, 27, 18, 0.7);
  background: rgba(33, 27, 18, 0.7) url(/images/Women_and_Style/Shine/Shine-womens-Jute-bags-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply; }
  @media (min-width: 768px) {
    .advantage {
      -webkit-background-attachment: fixed;
      background-attachment: fixed; } }
  .advantage .content ul li {
    position: relative;
    padding-left: 1.5em; }
    .advantage .content ul li::before {
      position: absolute;
      content: "";
      background: url(/images/svg/hand-point-right-regular.svg);
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      top: 0;
      left: 0;
      display: inline-block;
      height: 1.2em;
      aspect-ratio: 1;
      filter: invert(1); }

.products .container {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-wrap: wrap; }
  .products .container h2 {
    flex-basis: 100%;
    font-size: 2rem; }
  .products .container .card {
    flex: 35%; }
    @media (min-width: 768px) {
      .products .container .card {
        flex: 0 25%; } }
    .products .container .card .card-head a img {
      transition: transform 250ms ease-in; }
      .products .container .card .card-head a img:hover {
        transform: scale(1.2, 1.2); }
    .products .container .card .card-body {
      min-height: 10rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap; }
      .products .container .card .card-body .card-title {
        margin-block: .5em; }
        .products .container .card .card-body .card-title a {
          font-size: 1.2rem;
          color: #0e1b43;
          transition: color 250ms ease-in-out; }
          .products .container .card .card-body .card-title a:hover {
            color: #0e1b43; }
      .products .container .card .card-body .price s {
        font-size: smaller; }
      .products .container .card .card-body .price span {
        font-weight: 600;
        color: #0e1b43; }

.prod_details .container {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-wrap: wrap; }
  .prod_details .container .prod_details-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%; }
    @media (min-width: 768px) {
      .prod_details .container .prod_details-images {
        flex-basis: 45%; } }
    .prod_details .container .prod_details-images .wrapper-featured_img {
      flex-basis: 100%; }
      .prod_details .container .prod_details-images .wrapper-featured_img #featured {
        width: 500px;
        height: 600px;
        /* max-width: 500px; */
        object-fit: cover;
        margin: 0 auto;
        object-fit: cover; }
    .prod_details .container .prod_details-images .wrapper-thumb_img {
      display: flex;
      align-items: normal;
      justify-content: center;
      flex-wrap: nowrap; }
      .prod_details .container .prod_details-images .wrapper-thumb_img #slideLeft {
        margin-right: 1em; }
      .prod_details .container .prod_details-images .wrapper-thumb_img #slideRight {
        margin-left: 1em; }
      .prod_details .container .prod_details-images .wrapper-thumb_img .arrow {
        width: 3%;
        cursor: pointer;
        display: inline;
        transition: all 250ms ease-in-out; }
        .prod_details .container .prod_details-images .wrapper-thumb_img .arrow:hover {
          opacity: 0.5; }
      .prod_details .container .prod_details-images .wrapper-thumb_img #prod_slider {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-x: auto; }
        .prod_details .container .prod_details-images .wrapper-thumb_img #prod_slider::-webkit-scrollbar {
          width: 0; }
          .prod_details .container .prod_details-images .wrapper-thumb_img #prod_slider::-webkit-scrollbar-thumb {
            display: none; }
        .prod_details .container .prod_details-images .wrapper-thumb_img #prod_slider .thumbnail {
          cursor: pointer;
          object-fit: cover;
          width: 100px;
          height: 100px;
          opacity: 0.5;
          margin: .15em;
          transition: opacity 250ms ease-in-out; }
          .prod_details .container .prod_details-images .wrapper-thumb_img #prod_slider .thumbnail:hover {
            opacity: 1; }
          .prod_details .container .prod_details-images .wrapper-thumb_img #prod_slider .thumbnail.active {
            opacity: 1; }
  @media (min-width: 768px) {
    .prod_details .container .prod_details-desc {
      flex-basis: 45%; } }
  .prod_details .container .prod_details-desc .prod_details-desc--header h1 {
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 1.5;
    color: #7a6543; }
  .prod_details .container .prod_details-desc .prod_details-desc--header .price span {
    font-size: 1.5rem;
    color: #0e1b43;
    font-weight: 500; }
  .prod_details .container .prod_details-desc .prod_details-desc--content p {
    color: #7a6543; }

.testimonials {
  background-color: #c5b396; }
  .testimonials .container {
    /* flex-direction: column; */
    /* justify-content: space-around; */
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2.5em;
    flex-wrap: wrap;
    margin-block: 2em; }
    .testimonials .container h2 {
      flex-basis: 100%; }
    .testimonials .container .testimonials_card {
      padding: 1.5em;
      border-radius: 10px;
      background: #c5b396;
      box-shadow: 20px -20px 60px #a79880, -20px 20px 60px #e3cead;
      /* margin-top: 2em; */ }
      @media (min-width: 768px) {
        .testimonials .container .testimonials_card {
          flex-basis: 40%; } }
      @media (min-width: 991px) {
        .testimonials .container .testimonials_card {
          flex-basis: 20%; } }
.footer {
  background-color: #352c1c;
  color: #dccebc; }
  @media (min-width: 900px) {
    .footer .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: nowrap; } }
.col-1 li a {
  color: #dccebc; }

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 1em; }

.social-links a {
  width: 32px;
  margin: 0 0.2rem;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.5s ease;
  color: white; }
  .social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff; }

@media (min-width: 700px) {
  .footer {
    flex-direction: row; }
  .col {
    min-width: 25%;
    padding: 2rem; } }

@media (min-width: 768px) {
  .content {
    margin-top: 0; } }

.page_title {
  min-height: 40vh;
  background: rgba(231, 224, 212, 0.95);
  padding-bottom: 0; }
  .page_title .container {
    display: flex;
    align-items: flex-end;
    justify-content: normal;
    flex-wrap: nowrap;
    height: 40vh; }
    .page_title .container h2 {
      font-size: 2.5rem; }
