{{define "portfolio"}}
<section class="portfolio portfolio_section">
  <div class="portfolio_container">
    <div class="top-side">
      <h4 class="title">{{ .Site.Title }}</h4>
      <h2>{{ .Title }}</h2>
    </div>
    
    <div class="filters">
      <ul>
        <li class="active" data-filter="*">All</li>
        <li data-filter=".featured_products">Featured products</li>
        <li data-filter=".women_n_style">Women 'N' Style</li>
        <li data-filter=".Multipurpose_Jute_bags">Multipurpose Jute bags</li>
        <li data-filter=".Customized_hand_bags">Customized hand bags</li>
      </ul>
    </div>
    
    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-4 all featured_products">
          <div class="portfolio_item">
            {{ range where .Site.RegularPages "Section" "products"}}
            <a href={{.Permalink}}>
              <!-- <img src="https://i.picsum.photos/id/923/1000/1200.jpg?hmac=aTXp3_sl8AMqNddbsjWOIy6R8-RCLWB5GoFrQUWIusA" alt="Work 1">
              <div class="p-inner">
                <h5>Featured products</h5>
                <div class="cat">Featured products</div>
              </div> -->
              {{ partial "product2.html" .Params }}
            </a>
          {{ end }}
          
          </div>
        </div>
        <div class="col-sm-4 all women_n_style">
          <div class="portfolio_item">
            <!-- <img src="https://i.picsum.photos/id/1014/1000/1600.jpg?hmac=J7nIoCc0sqwy89muMNzuYWzK3UcBlAAraWUGR1r6X4U" alt="Work 1">
            <div class="p-inner">
              <h5>Women 'N' Style</h5>
              <div class="cat">Women 'N' Style</div>
            </div> -->
            {{range $index, $val := .Site.Taxonomies.categories.women_n_style}}
              <a href={{.Permalink}}>
                {{ partial "product.html" .Params }}
              </a>
            {{end}}
          </div>
        </div>
        <div class="col-sm-4 all Multipurpose_Jute_bags">
          <div class="portfolio_item">
            <!-- <img src="https://i.picsum.photos/id/1081/1000/1400.jpg?hmac=OhhXp4iAtTJQcx6fx3dehRJ7R3YjEqDcxow-sj6z0sc" alt="Work 1">
            <div class="p-inner">
              <h5>Multipurpose Jute bags</h5>
              <div class="cat">Multipurpose Jute bags</div>
            </div> -->
            {{range $index, $val := .Site.Taxonomies.categories.multipurpose_jute_bags}}
              <a href={{.Permalink}}>
                {{ partial "product.html" .Params }}
              </a>
            {{end}}
          </div>
        </div>
        <div class="col-sm-4 all Customized_hand_bags">
          <div class="portfolio_item">
            <!-- <img src="https://i.picsum.photos/id/267/1200/1400.jpg?hmac=3rlhklmRH3kQvtK87L57l5ewC9WGL5pF8d7xQhb82bg" alt="Work 1">
            <div class="p-inner">
              <h5>Customized hand bags</h5>
              <div class="cat">Customized hand bags</div>
            </div> -->
            {{range $index, $val := .Site.Taxonomies.categories.customized_hand_bags}}
              <a href={{.Permalink}}>
                {{ partial "product.html" .Params }}
              </a>
            {{end}}
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<script>
  $('.filters ul li').click(function(){
  $('.filters ul li').removeClass('active');
  $(this).addClass('active');
  
  var data = $(this).attr('data-filter');
  $grid.isotope({
    filter: data
  })
});

var $grid = $(".grid").isotope({
  itemSelector: ".all",
  percentPosition: true,
  masonry: {
    columnWidth: ".all"
  }
})
</script>

{{end}}
