<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
<head>
    <title>{{ .Title }}</title>
</head>
<body>
    {{- partial "header.html" . -}}

    <!-- <div class="product-slider">
        {{ range .Params.Images }}
        <div data-image="{{ .image | absURL }}">
          <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="product-img">
        </div>
        {{ end }} -->
      </div>
    {{ partial "product_single.html" .Params }}
    {{- partial "scripts.html" . -}}
</div>
</body>
</html>