{{ define "main" }}
<style>
    .header {
        background: url('/images/Multipurpose/Home_Storage/6.jpg')fixed no-repeat center 30%;
        background-size: contain;
        /* background-position: 50% 24%; */
        height: 100vh;


    }

    @media(max-width: 768px) {
        .header {
            height: 50vh;
            background-position: center 25%;

        }

        .infoPage {
            padding-top: 1.5rem;
        }
    }

    .infoPage .container {
        max-width: 70%;
        width: 600px;

    }

    h1,
    h2,
    h3 {
        font-family: 'Noto Serif', serif !important;
        margin-top: 2rem;

    }

    .infoPage h3 {
        margin: 1.5rem 0 .5rem;
    }
</style>

<div class="header">
</div>

<section class="infoPage">
    <div class="container">
        <!-- <h1>{{.Title}} </h1> -->

        {{.Content}}
    </div>
</section>

{{ end }}