
.about{
    .container{
        @media(min-width: 991px){
            @include flex(center, space-between)
    }
    }
    .about_img {
       
    }
    .about_text {
        width: 100%;
        padding: 4rem;
        background-color: hsla(30, 30%, 96%, .8);
        border-radius: 8px;
        color: hsla(38, 31%, 16%, 1);
        // text-align: center;
        h3{
            // margin-bottom: 10%;
            // font-family: "Petit Formal Script", cursive;
        }
        h2{
            // padding-bottom: 5%;
            // font-size: 4rem;
        }
    }
    .btn{
        display: inline-block;
        background-color: $clr-dark;;
        color: $clr-light;
        padding: .7em 1em;
        border-radius: 25px;
        
    }
    @media (min-width: 900px){
        .container_about{
            flex-direction: row;
            align-items: center;
            margin-top: 10%;
        }
        .about_text{
            background-color: unset;
            color: $clr-dark;
             h3{
                font-weight: 400;
            }
        }
      
    }
}



// @media (min-width: 900px){
//     .about::before{
//         position: absolute;
//         top: 100%;
//         left: 0;
//         content: '';
//         height: 100%;
//         width: 100%;
//         z-index: -1;
//         // background-image: url(/images/jute.jpg);
//         background: $clr-primary-light;
//     }
//     .about::after{
//         position: absolute;
//         top: 100%;
//         right: 0;
//         content: '';
//         height: 100%;
//         width: 80%;
//         z-index: -1;
//         background-color: hsla(38, 31%, 16%, .8);
//     }
// }