.featured_products {
    padding-block: 5rem;
    @include flex(normal, center);
    gap: 1em;
    flex-wrap: wrap;
    .conta {
        width: min(1200px, 100%);
        margin: 0 auto;
        .card {
          cursor: pointer;
          transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
          border-radius: 10px;
          width: 7rem;
          padding: .5rem;
          .bags {
            max-width: 20rem;
            @include flex(normal, center);
            img {
              z-index: 2;
              transition: all 0.75s ease-out;
              max-width: 100%;
              filter: drop-shadow(0 -.5mm .5mm rgb(114, 92, 51));
            }
          }    
          .info {
            h3 {
                font-size: 1rem;
                margin-block: 0.5em;
                color: #1b160e;
                font-weight: lighter;
                transition: all 0.75s ease-out;
                text-align: center;
                font-size: 1.2ch;
              }
              p {
                transition: all 0.95s ease-out;
                text-align: center;
                color: #9b8055;
                font-size: min(1rem, 7vw);
              }
              .product__price {
                text-align: center;
              }
              .MRP {
                transition: all 0.75s ease-out;
                height: 100%;
                align-items: center;
              }
              .icon {
                transition: all 0.75s ease-out;
                @include flex(center, space-between);
              }
        
        }
      }
    }
    .card:hover {
      // box-shadow: 0 10px 5px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%);
    }
}

  @media (min-width: 300px){
    .card {
      width: 8rem;
    }
  }
  @media (min-width: 400px){
    .card {
      width: 10rem;
    }
  }
  @media (min-width: 500px){
    .conta{
      width: min(1200px, 90%);
    }
    .card {
      width: 12rem;
    }
    .info h3 {
      font-size: 1.4ch;
    }
    .info p {
        font-size: min(1.4rem, 7vw);
    }
  }
  @media (min-width: 600px){
    .card {
      width: 15rem;
      padding: 1rem;
    }
  }
  @media (min-width: 800px){
    .flex {
      flex-wrap: nowrap;
    }
  .flex {
      display: flex;
      justify-content: unset;
      /* gap: 1em; */
      flex-wrap: wrap;
  }
  .conta {
      width: min(100em, 95%);
      margin: 0 auto;
  }
  .bags img {
    max-width: 70%;
  }
  .card:hover {
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%), 0px 0px 20px rgb(0 0 0 / 20%);
  }
  }
