// custom varables created by the user
$clr-primary: hsl(37, 29%, 47%);
$clr-primary-dark: hsl(37, 29%, 37%);
$clr-primary-light: hsl(37, 29%, 67%);
$clr-primary-light1: hsl(30, 30%, 96%);
$clr-primary-light-opacity: hsla(37, 29%, 87%, .95);
$clr-light: hsl(34, 31%, 80%);
$clr-dark: hsl(38, 31%, 16%);
$font-heading: 'Kaushan Script', cursive;  
$font-body: 'Noto Serif', serif;

// HSL Theming
// clr-primary
$clr-primary-200: hsl(37, 29%, 47%);
$clr-primary-400: hsl(37, 29%, 30%);
$clr-primary-600: hsl(37, 29%, 20%);
$clr-primary-800: hsl(36, 29%, 10%);

// clr-primary-alpha
$clr-primary-200--hsla: hsla(37, 29%, 47%, .7);
$clr-primary-400--hsla: hsla(37, 29%, 30%, .7);
$clr-primary-600--hsla: hsla(37, 29%, 20%, .7);
$clr-primary-800--hsla: hsla(37, 29%, 10%, .7);

// btn
$clr-accent: hsl(226, 65%, 16%);
$clr-accent-200: hsl(226, 65%, 46%);
$clr-accent-400: hsl(226, 65%, 36%);
$clr-accent-600: hsl(226, 65%, 26%);
$clr-accent-800: hsl(226, 65%, 10%);
$clr-accent-light: hsl(226, 65%, 66%);