<section class="footer">
    <div class="container">
        <div class="col col-1">
            <h3>Information</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Testimonials</a></li>
        </ul>
        </div>
        <div class="col col-2">
                <h3>Why buy from us</h3>
                <p>BagIt- a eco friendly Jute Bag from Charis can help you do your part to this environment in reducing using of plastic bags.</p>
        </div>
        <div class="col col-3">
            <h3>Address</h3>
            <p>Charis Jute bags
                Century Park East Suite 803,
                Los Angeles,
                +44 (0) 207 543 5478</p>
        </div>
        <div class="col Follow us">
            <div class="social-links">
                <h3>Share At</h3>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</section>