<footer>
    <div class="container">
        <div class="about">
            <!-- <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"> -->

            <h3>Why buy from us</h3>
            <p>{{ site.Params.description }}</p>
        </div>
        <div class="links">
            <h3>Important links</h3>
            <ul>
                <li>
                    <a class="logo" href="{{ site.BaseURL }}">Home</a>
                </li>
                {{ range site.Menus.footer }}
                <li>
                    <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="contact">
            <h3>Contact information</h3>
            <ul>
                <li>
                    <a href="tel:{{ site.Params.mobile }}"><img src="/images/svg/phone.svg" alt="">{{ site.Params.mobile
                        }}</a>
                </li>
                <li>
                    <a href="tel:{{ site.Params.email }}"><img src="/images/svg/envelope.svg" alt="">{{
                        site.Params.email }}</a>
                </li>
                <li>
                    <img src="/images/svg/map.svg" alt=""> {{ site.Params.location }}
                </li>

            </ul>
           
        </div>
        <div class="contact_form">
            <h3>Reach us</h3>

            <form action="">
                <div class="form_group">
                    <label for="name">Name</label>
                    <input type="text" name="Name" id="" required aria-label="Name" placeholder="Enter your full Name">
                </div>
                <div class="form_group">
                    <label for="email">Email ID</label>
                    <input type="email" name="Email" id="" required aria-label="Name" placeholder="abc@email.com">
                </div>
                <div class="form_group">
                    <label for="tel">Name</label>
                    <input type="tel" name="Mobile" id="" required aria-label="Name"
                        placeholder="your 10 digit mobile number">
                </div>
                <div class="form_group">
                    <label for="tel">Name</label>
                    <textarea name="Message" id="" cols="30" rows="3" placeholder="Enter your message"></textarea>
                </div>
                <button class="btn btn-teal" type="submit">SUBMIT</button>
            </form>

        </div>
        <div class="social">
            <ul>
                {{ range site.Params.social }}
                <li>
                    <a href="{{ .link | safeURL }}"><img src="{{ .icon }}" alt="{{.Name}}"></a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</footer>