<header>

    <div class="container">
        <!-- child1 -->
        <a class="logo" href="{{ site.BaseURL }}">
            <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}">
        </a>
        
        <!-- child2 -->
        <ul class="nav_list">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
          <li class="nav_list--item dropdown">
            <a class="nav_link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }} <img id="dropdown_arrow" src="/images/icons/arrow-down.png" alt="down arrow">
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="nav_link" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
            <li class="nav_list--item">
                <a class="nav_link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
            {{end}}
            {{end}}
        </ul>

        <ul class="nav_icons">
            <!-- <li class="nav_list--item">
                <a class="nav_link" href="tel:+919840166419">
                    <img src="/images/svg/phone-icon.svg" class="svg-inline--fa" alt="">
                    <span>9840166419</span>
                </a>
            </li> -->
            <li class="nav_list--item">
                <a class="nav_link snipcart-customer-signin" href="javascript:void(0)" id="show-login">
                    <img src="/images/svg/user-icon.svg" class="svg-inline--fa" alt="">
                    <!-- <span>Login</span> -->
                </a>
            </li>
            <li class="nav_list--item cart snipcart-summary">
                <a href="#" class="nav_link snipcart-checkout">
                    <img style="align-self: center;" src="/images/svg/cart-icon.svg" class="svg-inline--fa" alt="">
                    <!-- <span>Cart</span> -->
                    <sup class="snipcart-items-count">0</sup>
                    <span class="price snipcart-total-price"></span>
                </a>
            </li>

        </ul>

    
    </div>



    <button class="nav__toggle">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>




</header>

<!-- when u hover the dropdown, the arrow changes to up-arrow arrow -->

<script>
    let dropdownLink = document.querySelector('.dropdown');
    let arrowImg = document.getElementById('dropdown_arrow');

    //Now, we need to add an Event Listener to listen when the image gets mouse over.
    dropdownLink.addEventListener('mouseover', function(){
        arrowImg.src="/images/icons/arrow-up.png"
    })
    dropdownLink.addEventListener('mouseout', function(){
        arrowImg.src="/images/icons/arrow-down.png"
    })

</script>