<div class="card-wrapper">
  <div class="card">
      <!-- card left -->
      
      <div class="product-imgs">
          <div class="img-display">
              <div class="img-showcase">
                  <img src="./images/png/Be_Happy_carry_bag.png" alt="Be_Happy_carry_bag">
                  <img src="./images/png/Gift _Giveaway_Bag.png" alt="Be_Happy_carry_bag">
                  <img src="./images/png/Jute_Purse.png" alt="Be_Happy_carry_bag">
                  <img src="./images/png/Shopping_Jute_bag.png" alt="Be_Happy_carry_bag">
                  <img src="./images/png/Women___Style.png" alt="Be_Happy_carry_bag">
              </div>
          </div>
          <div class="img-select">
              <div class="img-item">
                  <a href="#" data-id="1">
                      <img src="./images/png/Be_Happy_carry_bag.png" alt="">
                  </a>
              </div>
              <div class="img-item">
                  <a href="#" data-id="2">
                      <img src="./images/png/Gift _Giveaway_Bag.png" alt="">
                  </a>
              </div>
              <div class="img-item">
                  <a href="#" data-id="3">
                      <img src="./images/png/Jute_Purse.png" alt="">
                  </a>
              </div>
              <div class="img-item">
                  <a href="#" data-id="4">
                      <img src="./images/png/Shopping_Jute_bag.png" alt="">
                  </a>
              </div>
              <div class="img-item">
                  <a href="#" data-id="5">
                      <img src="./images/png/Women___Style.png" alt="">
                  </a>
              </div>
          </div>
          
      </div>
      
      <!-- card right -->
      <div class="product-content">
          <h2 class="product-title">Charis Bags</h2>
          <a href="#" class="product-link">visit charis store</a>
          <!-- <div class="product-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>4.7(20)</span>

          </div> -->
          <div class="product-price">
              <p class="last-price">Old price: <span>Rs 999</span></p>
              <p class="new-price">New price: <span>Rs 799(20% off)</span></p>
          </div>
          <div class="quantity">
              <button class="btn minus-btn disabled" type="button">-</button>
              <input type="text" id="quantity" value="1">
              <button class="btn plus-btn" type="button">+</button>
          </div>
          <div class="purchase-info">
              <!-- <input type="number" min="0" value="1"> -->
              <button type="button" class="btn">
                  Add to cart <i class="fas fa-shopping-cart"></i>
              </button>
              <button type="button" class="btn">Buy Now</button>
          </div>

          <div class="product-detail">
              <h2>about this item:</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus mollitia cumque corrupti ea, iure, hic ipsum laboriosam minima saepe fugit est, laudantium quia? Atque et illum cumque repudiandae esse exercitationem?</p>
              <ul>
                  <li>Color :<span> Brown</span></li>
                  <li>Available :<span> In-stock</span></li>
                  <li>Category :<span> Bags</span></li>
                  <li>Shipping-Area :<span> All over the country</span></li>
                  <li>Shipping-Fee :<span> Free</span></li>
              </ul>
          </div>
          <!-- <div class="purchase-info">
              <input type="number" min="0" value="1">
              <button type="button" class="btn">
                  Add to cart <i class="fas fa-shopping-cart"></i>
              </button>
              <button type="button" class="btn">Buy Now</button>
          </div> -->
          <div class="social-links">
              <p>Share At:</p>
              <a href="#">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                  <i class="fab fa-whatsapp"></i>
              </a>
              <a href="#">
                  <i class="fab fa-pinterest"></i>
              </a>
          </div>
      </div>
  </div>
</div>