<div class="product_card">

  <div class="product_img">    
    <a href="{{ "products/" | absURL }}">
      <img src="{{.image}}" alt="{{.Name}}">
    </a>
  </div>
  <div class="product_txt">
    <h4>{{.name}}</h4>
    <p class="desc">{{.description}}</p>
    <p class="price">₹ {{.product_price}}/-</p>
    <a href="#" class="snipcart-add-item btn btn-dark" data-item-id="{{ .id }}" data-item-name="{{ .name }}"
      data-item-price="{{ .product_price }}" data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}">
      Add to bag
    </a>
  </div>

</div>