{{ define "main" }}

<!-- Swiper slider  -->
{{ if site.Data.homepage.slider.enable }}
<div class="swiper-container">
  <div class="swiper-wrapper">
    {{ range $index, $val := .Site.Taxonomies.categories.slider }}
      <!-- <div class="swiper-slide">
        <img src="{{.Page.Params.image}}" alt="{{.Name}}">
      </div> -->
      <div class="swiper-slide">
        <div class="container">
          <div class="image" data-aos="fade-down">
            <img src="{{.Page.Params.image}}" alt="{{.Name}}">
          </div>
          <div class="content" data-aos="fade-left">
            <h1>{{ .Title }}</h1>
            <p>{{ .Description }}</p>
          
          
            <a href="{{ .Page.Params.link }}" class="btn btn-primary">{{ .Page.Params.button }}</a>
          
          
          
          </div>
        </div>
      </div>
    {{end}}

  </div>
  <!-- Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

{{end}}




<!-- banner -->
{{ if site.Data.homepage.banner.enable }}

{{ with site.Data.homepage.banner }}
<section class="banner">
  <div class="container">
    <div class="image" data-aos="fade-down">
      <img src="{{ .image_1 | absURL }}" alt="{{.label}}">
    </div>
    <div class="content" data-aos="fade-left">
      <h1>{{ .title }}</h1>
      <p>{{ .content }}</p>
      {{ if .button.enable }}
      {{ with .button }}
      <a href="{{ .link }}" class="btn btn-primary">{{ .label }}</a>
      {{ end }}
      {{ end }}
      <!-- <img src="{{ .image_1 | absURL }}" alt="{{.label}}"> -->

    </div>

  </div>
</section>
{{ end }}

{{ end }}
<!-- /banner -->

<!-- products homepage -->
{{ if site.Data.homepage.products.enable }}
<section class="products">
  <div class="container">
    {{ with site.Data.homepage.products }}
    <h2>{{ .title | markdownify }}</h2>
    {{ end }}
    {{ range (where site.RegularPages "Type" "jute_bags-home") }}
    {{ partial "partials/products/list-item.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}
<!-- /products -->


<!-- about -->
{{ if site.Data.homepage.about.enable }}

{{ with site.Data.homepage.about }}
<section class="about">
  <div class="container">
    <div class="image">
      <img src="{{ .image | absURL }}" alt="">
    </div>
    <div class="content">
      <h2>{{ .title }}</h2>
      <p>{{ .content }}</p>
      <h4>{{ .subtitle }} </h4>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
<!-- /about -->



<!-- material -->
{{ if site.Data.homepage.material.enable }}

{{ with site.Data.homepage.material }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .materialItem }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 text-center">
          <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}
<!-- /material -->

<!-- advantage -->
{{ if site.Data.homepage.advantage.enable }}

{{ with site.Data.homepage.advantage }}
<section class="advantage">
  <div class="container">
    <div class="content">
      <h2>{{ .title | markdownify }}</h2>
      <h3>{{ .subtitle | markdownify }}</h3>
      <ul>
        {{ range .advantageList }}
        <li>{{ .listItem }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="image">
      <img src="{{ .image | absURL}}" alt="{{ .Name }}">
    </div>
  </div>
</section>
{{ end }}

{{ end }}
<!-- /advantage -->


<!-- testimonial -->
{{ if site.Data.homepage.testimonial.enable }}

{{ with site.Data.homepage.testimonial }}
<section class="testimonials">
  <div class="container">
    <h2>{{ .title | markdownify }}</h2>
    {{ range .testimonialItem }}
    <div class="testimonials_card txt-center">
      <!-- <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}"> -->
      <p class="quoted">{{ .content | markdownify }}</p>
      <h4>{{ .name | markdownify }}</h4>
      <small>{{ .designation | markdownify }}</small>
      <ul class="list-inline rating {{ .rating | lower }} mt-3">
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
      </ul>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}
<!-- /testimonial -->

{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}


{{ end }}