{{ define "main" }}
<!-- Swiper slider  -->
{{ if site.Data.homepage.slider.enable }}
<section class="slider">
  <div class="container">
    <div class="carouselContainer">
      {{range $index, $val := .Site.Taxonomies.tags.slider}}
      <div class="carouselImgs">
        <img src="{{.Page.Params.image}}" alt="{{.Title}}">
        <div class="content">
          <h1>{{.Title}}</h1>
          <!-- <h3>{{.Description}}</h3> -->
          <!-- <a href="#" class="btn btn-primary">{{.Page.Params.link}}</a> -->
        </div>
      </div>
      {{end}}
      <span class="prev" id="prev">
        <img src="images/icons/left.png" alt="">
      </span>
      <span class="next" id="next">
        <img src="images/icons/right.png" alt="">
      </span>
      <!-- <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
          </div> -->
    </div>
  </div>
</section>
<script>
  let currentSlide = 1;
  function showSlide(slideIndex) {
    const slides = document.getElementsByClassName('carouselImgs');
    if (slideIndex > slides.length) { currentSlide = 1 }
    if (slideIndex < 1) { currentSlide = slides.length }
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none'
    }
    slides[currentSlide - 1].style.display = 'flex'
  }
  function nextSlide() {
    showSlide(currentSlide += 1);
  }
  function previousSlide() {
    showSlide(currentSlide -= 1);
  }
  window.onload = function () {
    showSlide(currentSlide);
    document.getElementById('prev').addEventListener('click', function () {
      previousSlide();
    })
    document.getElementById('next').addEventListener('click', function () {
      nextSlide();
    })
  }
</script>
{{end}}


<!-- swiper -->

{{ if site.Data.homepage.swiper.enable }}
<!-- Tiny-Swiper -->
<div class="swiper-container">
  <di class="swiper-wrapper">
    {{range $index, $val := .Site.Taxonomies.tags.slider}}

    <div class="swiper-slide">
      <img src="{{.Page.Params.image}}" alt="{{.Title}}">
      <div class="swiper-slide--content">
        <h1>{{.Title}}</h1>
        <!-- <h3>{{.Description}}</h3>
            <a href="#" class="btn btn-primary">{{.Page.Params.link}}</a> -->
      </div>
    </div>
    {{end}}
  </di>
  <div class="swiper-plugin-pagination"></div>
</div>

<!-- Tiny-Swiper JS -->
<script src="https://unpkg.com/tiny-swiper@latest/lib/index.min.js"></script>
<script src="https://unpkg.com/tiny-swiper@latest/lib/modules/pagination.min.js"></script>
<script src="https://unpkg.com/tiny-swiper@latest/lib/modules/keyboardControl.min.js"></script>
<!-- Initialize Tiny-Swiper -->
<script>

  var swiper = new Swiper(".swiper-container", {
    pagination: {
      el: ".swiper-plugin-pagination",
      clickable: true,
      bulletClass: "swiper-plugin-pagination__item",
      bulletActiveClass: "is-active"
    },
    keyboard: {
      enabled: true
    },
    plugins: [SwiperPluginPagination, SwiperPluginKeyboardControl]

  });
</script>
{{end}}

{{ if site.Data.homepage.slick.enable }}


<div class="slick_slider">
  {{range $index, $val := .Site.Taxonomies.tags.slider}}
  <div class="slick_slider--content">
    <img src="{{.Page.Params.image}}" alt="{{.Title}}">
    <div class="text">
      <h1>{{.Title}}</h1>
      <!-- <h3>{{.Description}}</h3> -->
      <!-- <a href="#" class="btn btn-primary">{{.Page.Params.link}}</a> -->
    </div>
  </div>
  {{end}}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.slick_slider').slick({
      // setting-name: setting-value
      autoplay: true,
      autoplaySpeed: 2000,
      arrows: true
    });
  });
</script>
{{end}}

<!-- banner -->
{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
<section class="banner">
  <div class="container">
    <div class="image">
      <img src="images/slider/Gorgeous-Girl-jute_bag.png" alt="">
    </div>
    <div class="content">
      <h1>Women 'N' Style</h1>
      <h3>Gorgeous jute bags suitable for shopping, travel, storage and much more.</h3>
      <a href="{{ .link }}" class="btn btn-primary">Shop Now</a>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- banner -->
<!--trending products homepage -->
{{ if site.Data.homepage.products.enable }}
<section class="products">
  <div class="container">
    {{ with site.Data.homepage.products }}
    <h2>{{ .title | markdownify }}</h2>
    {{ end }}
    {{ range first 12 (where site.RegularPages "Type" "jute_bags") }}
    {{ partial "partials/products/list-item.html" . }}
    {{ end }}
  </div>
</section>

<section class="products">
  <div class="container">
    {{ with site.Data.homepage.products }}
    <h2>{{ .title1 | markdownify }}</h2>
    {{ end }}
    {{range $index, $val := .Site.Taxonomies.categories.shopping}}
    {{ partial "partials/products/list-item.html" . }}
    {{ end }}



  </div>
</section>

{{ end }}
<!--  products -->
<!-- about -->
{{ if site.Data.homepage.about.enable }}
{{ with site.Data.homepage.about }}
<section class="about">
  <div class="container">
    <div class="image">
      <img src="{{ .image | absURL }}" alt="">
    </div>
    <div class="content">
      <h2>{{ .title }}</h2>
      <p>{{ .content }}</p>
      <h4>{{ .subtitle }} </h4>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->
<!-- masonry gallery -->
{{ if site.Data.homepage.gallery.enable }}
{{ with site.Data.homepage.gallery }}
<!-- <section class="masonry_gallery"> -->
<div class="container">
  <h2>{{ .title | markdownify }}</h2>
  <p>{{ .subtitle | markdownify }}</p>

  <div class="masonry">

    {{ range .galleryItem }}
    <div class="masonry-item">
      <div class="masonry-content">
        <img src="{{ .image | absURL }}" alt="{{.Name}}">
        <h3 class="masonry-title">{{ .title | markdownify }}</h3>
        <!-- <p class="masonry-description">{{ .content }}</p> -->
      </div>
    </div>
    {{end}}

  </div>
</div>
<!-- </section> -->
{{ end }}
{{end}}
<!-- material -->
{{ if site.Data.homepage.material.enable }}
{{ with site.Data.homepage.material }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .materialItem }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 text-center">
          <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /material -->
<!-- advantage -->
{{ if site.Data.homepage.advantage.enable }}
{{ with site.Data.homepage.advantage }}
<section class="advantage">
  <div class="container">
    <div class="content">
      <h2>{{ .title | markdownify }}</h2>
      <!-- <p>{{ .subtitle | markdownify }}</p> -->
      <ul>
        {{ range .advantageList }}
        <li>{{ .listItem }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="image">
      <img src="{{ .image | absURL}}" alt="{{ .Name }}">
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /advantage -->
<!-- testimonial -->
{{ if site.Data.homepage.testimonial.enable }}
{{ with site.Data.homepage.testimonial }}
<section class="testimonials">
  <div class="container">
    <h2>{{ .title | markdownify }}</h2>
    {{ range .testimonialItem }}
    <div class="testimonials_card txt-center">
      <!-- <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}"> -->
      <p class="quoted">{{ .content | markdownify }}</p>
      <h4>{{ .name | markdownify }}</h4>
      <small>{{ .designation | markdownify }}</small>
      <ul class="list-inline rating {{ .rating | lower }} mt-3">
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
        <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
      </ul>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonial -->
{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
{{ end }}