<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}

    {{- block "slider" . }}{{- end }}
    {{- block "featured_products" . }}{{- end }}

    {{- block "women_n_style" . }}{{- end }}
    {{- block "Customized_hand_bags" . }}{{- end }}
    {{- block "Multipurpose_Jute_bags" . }}{{- end }}
    {{- block "about" . }}{{- end }}

    {{ block "main" . }}{{ end }}

    {{- block "testimonials" . }}{{- end }}
    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}

</body>

</html>