{{define "slider"}}
<!-- SLIDER -->
<div class="fg-slider" id="slider-1">
    <div class="fg-content text-center">
        <h2>Welcome to the world of Jute Bags.</h2>
    </div>
    <img src="./uploads/women-N-style3.jpg" alt="">
    <div class="fg-content text-center">
        <h2>Charis Jute bags</h2>
    </div>
    <img src="./images/slider4.jpg" alt="">
    <div class="fg-content text-center">
        <h2>Hi There... I'm Charis Jute bag</h2>
    </div>
    <img src="./images/slider3.jpg" alt="">
</div>
{{end}}

{{define "featured_products"}}
<section class="products">
  <div class="container">

        <h1>Jute bags On sale</h1>
        <!-- <h4>Introductory offer on selected jute bags upto 50%</h4> -->
        <div class="product_wrapper">
          
            <!-- for .md -->
            {{ range where .Site.RegularPages "Section" "products"}}
            {{ partial "product.html" .Params }}
            {{ end }}
          
            <!-- for json -->
            <!-- {{ range .Site.Data.products }}
            {{ partial "product.html" . }}
            {{ end }} -->
    </div>
</section>
{{end}}


{{define "women_n_style"}}
<section class="products">
  <div class="container">
    <h1>Women 'N' Style</h1>
    <h4>Trendy and stylish jute bags customised for women.</h4>
    <div class="product_wrapper">
    
      {{range $index, $val := .Site.Taxonomies.categories.women_n_style}}
      {{ partial "product.html" .Params }}
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{define "Customized_hand_bags"}}
<section class="products">
  <div class="container">
    <h1>Customized hand bags</h1>
    <h4>Designer hand bags custom made according your requirements.</h4>
    <div class="product_wrapper">
      {{range $index, $val := .Site.Taxonomies.categories.customized_hand_bags}}
      {{ partial "product.html" .Params }}
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{define "Multipurpose_Jute_bags"}}
<section class="products">
  <div class="container">
    <h1>Multipurpose Jute bags</h1>
    <h4>Gorgeous jute bags suitable for shopping, travel, storage and much more.</h4>
    <div class="product_wrapper">
      {{range $index, $val := .Site.Taxonomies.categories.multipurpose_jute_bags}}
      {{ partial "product.html" .Params }}
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{define "all"}}
<section class="all">
  <h1>{{ .Site.Title }}</h1>
  <h4>
    <a href="{{ "products/" | absURL }}">
      All Products
    </a>
  </h4>
</section>
<style>
  .all{
    margin-block: 2rem;
    width: 100%;
    height: 20vh;
    background-color: #0002;
    text-align: center;
  }
</style>
{{end}}

{{define "about"}}
<section class="about">
    <div class="container">
        <div class="about_img">
            <img src="./images/aboutus.jpg" alt="Charis jute bag pic">
        </div>
        <div class="about_text">
            <h1>About us</h1>
            <p>At Charis, we have been selling High quality Jute bags for personal and commercial purposes since 2020.
                Some of our jute bags are multipurpose shopping bags, hands bags, minimal art embedded bags, office
                bags, travel bags, purses, etc.</p>
            <h4>It is time to say NO to fake eco-friendly plastic bags!</h4>
            <a href="#" class="btn">Know More</a>
        </div>
    </div>
</section>
{{end}}

{{define "testimonials"}}
<section class="testimonials">
    <div class="container">
        <h1>Testimonials</h1>
        <div class="testimonial_flex">
            {{range $index, $val := .Site.Taxonomies.tags.feedback}}
            <div class="testimonials_card">
                {{.Content}}
                <h5>{{.Title}}</h5>
                <p><em>- {{.Description}}</em></p>
            </div>
            {{end}}
        </div>
    </div>
</section>
{{end}}

