{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="prod-desc-section">
  <div class="container">
    <div class="prod-image">
      <div class="product-slider">
        {{ range .Params.images }}
        <div data-image="{{ .image | absURL }}">
          <img class="prod-img" src="{{ .image | absURL }}" alt="{{ .image }}">
        </div>
        {{ end }}
      </div>
    </div>

    <div class="prod-details">
      <div class="prod-head">
        <h4>{{ .Title }}</h4>
        <!-- rating star -->
        {{ if site.Params.rating.enable }}
        <div class="rw-ui-container"></div>
        {{ end }}
        {{ partial "partials/products/price.html" . }}
      </div>
      <div class="prod-desc">
        <p>{{ .Params.ShortDescription | markdownify }}</p>
        {{ partial "partials/products/add-to-cart-btn.html" . }}

      </div>

    </div>
  </div>

</section>

{{ partial "cta.html" . }}



{{ end }}