{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="prod_details">
  <div class="container">
    <!-- prod img thumbnail slider -->
    <div class="prod_details-images">

      <img id="featured" src="/images/Organic/Organic-Jute-bags-1.jpg" alt="">

      {{ range .Params.images }}

      {{ end }}
    </div>



    <div class="prod_details-desc">
      <div class="prod_details-desc--header">
        <h1>{{ .Title }}</h1>
        <!-- rating star -->
        {{ if site.Params.rating.enable }}
        <div class="rw-ui-container"></div>
        {{ end }}
        {{ partial "partials/products/price.html" . }}
      </div>

      <div class="prod_details-desc--content">
        <p>{{ .Params.ShortDescription | markdownify }}</p>
        {{ partial "partials/products/add-to-cart-btn.html" . }}

      </div>

    </div>
  </div>

</section>

<!-- {{ partial "cta.html" . }} -->



{{ end }}