footer {
  @extend .py-5;
  h3 {
    @extend .mb-1;
  }
  img {
    display: unset;
  }
  li {
    margin-bottom: 1rem;
  }
  background: $clr-primary-light1;
  .container {
    @include flex(normal, space-between, wrap);
    @extend .gap-2;
    .about {
      flex-basis: 100%;
      @media (min-width: 600px) {
        flex-basis: 40%;
      }
      @media (min-width: 768px) {
        flex-basis: 15%;
      }
      text-align: unset;
      p {
        line-height: 2rem;
      }
    }
    .links {
      flex-basis: 100%;
      @media (min-width: 600px) {
        flex-basis: 40%;
      }
      @media (min-width: 768px) {
        flex-basis: 20%;
      }
    }
    .contact {
      flex-basis: 100%;
      @media (min-width: 600px) {
        flex-basis: 40%;
      }
      @media (min-width: 768px) {
        flex-basis: 25%;
      }
    }
    .contact_form {
      flex-basis: 100%;
      @media (min-width: 600px) {
        flex-basis: 40%;
      }
      @media (min-width: 768px) {
        flex-basis: 30%;
      }
      .form_group {
        @extend .my-1;
        label {
          display: block;
          margin-bottom: 0.25rem;
        }
        input,
        textarea {
          outline: none;
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
          &:hover,
          &:focus,
          &:focus-visible {
            border-color: $clr-primary-200;
            box-shadow: 0 1px 5px $clr-primary-light;
          }
        }
      }
      .btn {
        @extend .W_100-PC;
      }
    }
    .contact {
      img {
        max-width: 1rem;
        margin-right: 0.5rem;
      }
    }
    .social {
      flex-basis: 100%;
      position: relative;
      // z-index: 2;
      img{
        width: 2rem;

      }
      ul{
        @include flex (center, center, nowrap);
        @extend .gap-2;
        @extend .mt-2;

        li{
          display: inline-block;
          margin: 0;
        }
      }
      &::before{
        position: absolute;
        content: '';
        width: 60%;
        height: 3px;
        border-radius: 5px;
        background: $clr-primary-200--hsla;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
    }
  }
}
.copyright{
  flex-basis: 100%;
  p{
    @extend .txt-center;
  }
}