/* navbar */
header {
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  // transition: background-color 250ms; /* control how smooth the background changes */
  &.scrolled {
    background-color: $clr-primary-light-opacity !important;
    animation: fadeInDown 500ms linear both;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  @keyframes fadeInDown {
    from {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    to {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      top: 0;
    }
  }
  .container {
    @include flex(center, space-between, nowrap);
    position: static;
    .logo {
      flex-basis: 20%;
      img {
        min-width: 8rem;
      }
    }
    nav {
      flex-basis: 70%;
      @include flex(center, space-between, nowrap);

      .nav_list {
        position: absolute;
        width: 100%;
        right: 0;
        padding-right: 1.5em;
        transform: translateX(100%);
        top: 0;
        transition: all 400ms ease-in-out;
        // transition: all 400ms linear;

        // box-shadow: 0 4px 12px 0 rgba(31, 38, 135, 0.37);
        @media (min-width: 991px) {
        transform: translateX(0);

          position: relative;
          @include flex(center, flex-start, nowrap);
          gap: 1.5em;
        }
        &.active {
        // transition: all 400ms ease-in-out;

          background-color: rgba(231, 224, 212, 0.95);
          height: 100vh;
          transform: translateX(0);
          top: 100%;
          .nav_list--item {
            margin-block: 3em;
          }
        }
      }

      .nav_list--item {
        text-align: right;
        @media (min-width: 991px) {
          text-align: unset;
          // margin-block: 0;
        }
        .nav_link {
          @media (min-width: 991px) {
            @include flex(flex-start, normal, nowrap);
            gap: 0.5em;
          }
        }
      }
      .nav_icons {
        // border: 1px solid;
        min-width: fit-content;
        margin-left: auto;
        margin-right: 1.5em;
        z-index: 2;
        @media (min-width: 991px) {
          margin-right: 0 !important;
        }
        .nav_list--item {
          float: left;
          + .nav_list--item {
            margin-left: 1rem;
          }
        }
        span {
          display: none;
          @media (min-width: 991px) {
            display: inline-block;
          }
        }
        .cart {
          .nav_link {
            img {
              display: unset;
            }
            .price {
              display: none;
            }
          }

          &:hover {
            .price {
              display: block;
            }
          }
        }
      }
    }
  }

  .svg-inline--fa {
    max-width: 30px;
    aspect-ratio: 1;
    width: 17px;
  }

  .nav__toggle {
    display: block;
    position: absolute;
    right: 1em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    background: none;
    color: inherit;
    border: none;
    transition: all 400ms ease;
    .bar1,
    .bar2,
    .bar3 {
      display: block;
      background: $clr-accent;
      height: 3px;
      margin: 3px auto;
      transition: 0.4s;
    }
    .bar1.change {
      transform: rotate(-70deg) translate(-9px, -5px);
      width: 70%;
    }
    .bar2.change {
      transform: translateY(10px);
    }
    .bar3.change {
      transform: rotate(70deg) translate(-2px, -9px);
      width: 70%;
    }
    @media (min-width: 991px) {
      display: none;
    }
  }
}
