/* navbar */
header {
  padding: 1em;
  width: 100%;
  min-height: 8vh;
  z-index: 10;
  background-color: $clr-primary-light-opacity;
  position: relative;
  &.scrolled {
    position: fixed;

    // background-color: $clr-primary-light-opacity !important;
    animation: fadeInDown 500ms linear both;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  @keyframes fadeInDown {
    from {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    to {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      top: 0;
    }
  }
  .container {
    @include flex(center, space-between, nowrap);
    position: static;
    height: 100%;
    // outline: 1px solid darkred;
    .logo {
      flex-basis: 16%;
      // @extend .py-1;
      // outline: blue 1px solid;
      img {
        min-width: 8rem;
      }
    }
    nav {
      flex-basis: 77%;
      @include flex(center, space-between, nowrap);
      // outline: 2px solid yellow;
      // position: relative;
      .nav_list {
        position: absolute;
        right: -100%;
        top: 8vh;
        height: 80vh;
        width: 100%;
        transition: all 400ms ease-in-out;
        // border: 1px solid red;
        @media (min-width: 991px) {
          width: auto;
          height: auto;
          right: inherit;
          top: 50%;
          transform: translateY(-50%);
        }
        .nav_list--item {
          margin-block: 3em;
          @media (min-width: 991px) {
            margin: auto 0;
            display: inline-block;
            + .nav_list--item {
              margin-left: 1rem;
            }
          }
        }
        &.active {
          right: 0;
          transition: all 400ms ease-in-out;
          background-color: $clr-primary-light-opacity;
        }
      }
      .nav_list--item {
        font-size: 1.2rem;
        @extend .txt-center;
        @media (min-width: 991px) {
          text-align: unset;
        }
      }
      .nav_icons {
        // border: 1px solid;
        flex: 30%;
        @include flex(center, flex-end, nowrap);
        @extend .gap-1;
        margin-right: 2em;
        // z-index: 2;
        @media (min-width: 991px) {
          margin-right: 0 !important;
        }
        .nav_link {
          @include flex(center, normal, nowrap);
          gap: 0.5em;
        }
        span {
          display: none;
          @media (min-width: 991px) {
            display: inline-block;
          }
        }
        .cart {
          transition: display 250ms ease-in;
          .price {
            display: none;
          }
          &:hover {
            .price {
              display: block;
            }
          }
        }
      }
    }
  }
  .svg-inline--fa {
    max-width: 30px;
    width: 17px;
    display: unset;
  }
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1em;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    background: none;
    color: inherit;
    border: none;
    transition: all 400ms ease;
    .bar1,
    .bar2,
    .bar3 {
      display: block;
      background: $clr-accent;
      height: 3px;
      margin: 3px auto;
      transition: 0.4s;
    }
    .bar1.change {
      transform: rotate(-70deg) translate(-9px, -5px);
      width: 70%;
    }
    .bar2.change {
      transform: translateY(10px);
    }
    .bar3.change {
      transform: rotate(70deg) translate(-2px, -9px);
      width: 70%;
    }
    @media (min-width: 991px) {
      display: none;
    }
  }
}
