// new slider


.slider{
  width:100%;
  height:600px;
  margin:0 auto;
  position: relative;
  overflow: hidden;
}
.slide-ana{
  height: 100%;
}
.slide-ana div{
  width:100%;
  height: 100%;
  position: absolute;
  transition: all 1s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider span{
  min-height: 50px;
  position: absolute;
  top:50%;
  margin:-25px 0 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  color:#fff;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.title{
  top:80% !important;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  cursor: auto !important;
  padding: 0 20px;
}
.slide-ana{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
#prev{
  left:0;
  border-radius: 0 10px 10px 0;
}
#next{
  right:0;
  border-radius:10px 0 0 10px;
}
#prev svg,#next svg{
  width:100%;
  fill: #fff;
}
#prev:hover,
#next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}




.banner {
  background-color: $clr-light;
}


.banner,
.about {
  text-align: center;

  .container {
    @media (min-width: 768px) {
      @include flex(center, space-between, wrap);
      text-align: left;
      gap: 3em;
    }
  }
  .image {
    flex: 1;
    display: grid;
    place-items: center;
    img {
      filter: drop-shadow(0 15px 5px $clr-dark);
      max-width: 70%;
      margin: auto;
      @media (min-width: 768px) {
        max-width: 100%;
      }
    }
  }
  .content {
    // flex-basis: 40%;
    flex: 1;
  }
}

#home_prod {
  .card {
    .btn-teal {
      transition: visibility 250ms ease-in-out;
      visibility: hidden;
    }
    &:hover {
      .btn-teal {
        visibility: visible;
      }
    }
  }
}
@media (max-width: 768px) {
  .btn-teal {
    visibility: visible !important;
  }
}
.advantage {
  color: $clr-light;
  background-color: $clr-primary-800--hsla;
  background: $clr-primary-800--hsla
    url(/images/Women_and_Style/Shine/Shine-womens-Jute-bags-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  @media (min-width: 768px) {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
  }
  .content {
    ul {
      li {
        @extend .my-1;
        // list-style-image: url(/images/svg/hand-point-right-regular.svg);
        position: relative;
        padding-left: 1.5em;
        &::before {
          position: absolute;
          content: "";
          background: url(/images/svg/hand-point-right-regular.svg);
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          top: 0;
          left: 0;
          display: inline-block;
          height: 1.2em;
          // aspect-ratio: 1;

          filter: invert(1);
        }
      }
    }
  }
}
