.swiper-container {
  width: 100%;

  @media (min-width: 768px) {
    height: 85vh;
    // margin-top: 7%;
  }
}
.swiper-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-align: center;
  background: #fff;
  color: $clr-primary-800;
  @include flex(center, center, nowrap);
  max-width: 100%;
  position: relative;
  img {
    width: 100%;
    @media (min-width: 768px) {
      object-fit: cover;
      height: 85vh;
      // aspect-ratio: 1/1;
      // max-width: 80%;
    }
  }
  .content {
    position: absolute;
    @extend .p-1;
    @extend .flex-col;
    bottom: 5%;
    background-color: $clr-primary-200--hsla;
    // color: $clr-accent;
    width: 100%;
    .btn,
    p {
      display: none;
    }

    @media (min-width: 768px) {
      top: 50%;
      right: 5%;
      font-weight: 500;
      // color: $clr-light;
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      height: 60vmin;
      width: 60vmin;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      box-shadow: 0 0 5rem $clr-primary-600;
      @include flex(center, center, nowrap);
      .btn,
      p {
        display: block;
      }
    }
  }
}

.swiper-pagination-bullet {
  background: $clr-accent;
  opacity: 1;
  // border: 1px solid $clr-accent;
}
.swiper-pagination-bullet-active {
  background: $clr-accent-light;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url(/images/svg/caret-left-solid.svg);
  filter: opacity(0.7);

  left: 1.5rem;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url(/images/svg/caret-right-solid.svg);
  // background-color: $clr-accent;
  // color: transparent;
  filter: opacity(0.7);
  right: 1.5rem;
}

.banner {
  background-color: $clr-light;
}

.swiper-slide,
.banner,
.about {
  text-align: center;

  .container {
    @media (min-width: 768px) {
      @include flex(center, space-between, wrap);
      text-align: left;
      gap: 3em;
    }
  }
  .image {
    flex: 1;
    display: grid;
    place-items: center;
    img {
      filter: drop-shadow(0 15px 5px $clr-dark);
      max-width: 70%;
      margin: auto;
      @media (min-width: 768px) {
        max-width: 100%;
      }
    }
  }
  .content {
    // flex-basis: 40%;
    flex: 1;
  }
}

#home_prod {
  .card {
    .btn-teal {
      transition: visibility 250ms ease-in-out;
      visibility: hidden;
    }
    &:hover {
      .btn-teal {
        visibility: visible;
      }
    }
  }
}
@media (max-width: 768px) {
  .btn-teal {
    visibility: visible !important;
  }
}
.advantage {
  color: $clr-light;
  background-color: $clr-primary-800--hsla;
  background: $clr-primary-800--hsla
    url(/images/Women_and_Style/Shine/Shine-womens-Jute-bags-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  @media (min-width: 768px) {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
  }
  .content {
    ul {
      li {
        @extend .my-1;
        // list-style-image: url(/images/svg/hand-point-right-regular.svg);
        position: relative;
        padding-left: 1.5em;
        &::before {
          position: absolute;
          content: "";
          background: url(/images/svg/hand-point-right-regular.svg);
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          top: 0;
          left: 0;
          display: inline-block;
          height: 1.2em;
          // aspect-ratio: 1;

          filter: invert(1);
        }
      }
    }
  }
}
