// slider
.slider {
  padding-block: 0;
  .container {
    // height: 80vh;
    // background-color: darkred;
    max-width: 100%;
    width: 100%;
    position: unset;
    margin: 0;
    @include flex(center, flex-start, nowrap);
  }
}

.carouselContainer {
  width: 100%;
  height: 90vh;
  // margin: 0 auto;
  position: relative;
  // background-color: hsl(30, 30%, 86%);
  // border-radius: 1.5rem;
  overflow: hidden;
}

.carouselImgs {
  width: 100%;
  max-height: 100%;
  animation: fade 1.5s;
  display: none;
  // padding: 20px;
  align-items: stretch;
  text-align: center;
  // justify-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);

  &:nth-child(1) {
    background-color: hsla(353, 74%, 52%, 0.92);
  }
  &:nth-child(2) {
    background-color: hsl(46, 100%, 76%);
    .content {
      h1 {
        color: #bd7013;
      }
    }
  }
  &:nth-child(3) {
    background-color: hsla(146, 69%, 60%, 0.71);
  }
  &:nth-child(4) {
    background-color: hsl(340, 85%, 81%);
  }
  &:nth-child(5) {
    background-color: hsl(186, 77%, 76%);
  }
  // &:nth-child(6) {
  //   background-color: hsl(30, 30%, 86%);
  // }
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  img {
    // object-fit: cover;
    max-width: 100%;
    @media (min-width: 768px) {
      max-width: 70%;
    }
  }
  .content {
    flex: 100%;
    padding: 2rem;
    h1 {
      font-size: 3.5rem;
      color: #fff;
      // text-align: center;
    }
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 3rem;
  @media (max-width: 768px) {
    top: 70%;
    width: 1.5rem;
  }
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel__nav {
  // background-color: pink;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  .carousel__indicators {
    border: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 0.25rem;
    &.current-slide {
      background: rgba(0, 0, 0, 0.75);
    }
  }
}

.banner {
  padding-block: 0;
  // position: relative;
  // &::before {
  //   position: absolute;
  //   content: "";
  //   background: hsl(198, 49%, 82%);
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   width: 55%;
  //   border-radius: 0% 100% 100% 0% / 56% 50% 50% 44% ;
  //   /* border-top-right-radius: 25% 50%;
  //    border-bottom-right-radius: 15% 40%; */
  //
}

.image {
  @media (min-width: 768px) {
    flex: 1;
  }
  img {
    border-radius: 10px;
    @media (min-width: 768px) {
      max-width: 100%;
      // margin-inline: 2rem;
    }
  }
}

.content {
  flex: 1;

  h1 {
    // font-family: "Petit Formal Script", cursive;
    font-family: $font-heading;
    font-size: 3.5rem;
  }
  h2 {
    font-weight: 600;
  }
  h3 {
    font-weight: normal;
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.5rem;
    border-radius: 5px;
  }
}

.about {
  text-align: center;

  .container {
    @media (min-width: 768px) {
      @include flex(center, space-between, wrap);
      text-align: left;
      gap: 3em;
    }
  }
  .image {
    @media (min-width: 768px) {
      flex: 2;
    }

    img {
      filter: drop-shadow(0 15px 5px $clr-dark);
      // max-width: 50%;
      // margin: auto;
      @media (min-width: 768px) {
        max-width: 90%;
        margin-left: 1rem;
      }
    }
  }
  .content {
    // flex-basis: 40%;
    margin-right: 1rem;
    flex: 1;
    position: relative;
    ::before {
      // position: absolute;
      // content: '';
      // height: 400px;
      // width: 400px;
      // border: 3px solid;
      // border-radius: 10px;
    }
    h1 {
      // font-family: "Petit Formal Script", cursive;
      font-family: $font-heading;
      font-size: 2.5rem;
    }
    h2 {
      font-weight: 600;
    }
    h3 {
      font-weight: normal;
      font-size: 1.5rem;
    }
    .btn {
      font-size: 1.5rem;
      border-radius: 5px;
    }
  }
}

.advantage {
  // color: $clr-light;
  // background-color: $clr-primary-800--hsla;
  background: $clr-primary-light-opacity
    url(/images/Women_and_Style/Shine/Shine-womens-Jute-bags-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  @media (min-width: 768px) {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
  }
  .content {
    ul {
      li {
        @extend .my-1;
        // list-style-image: url(/images/svg/hand-point-right-regular.svg);
        position: relative;
        padding-left: 1.5em;
      }
    }
  }
}

// #home_prod{

//   .container{
//     gap: .5rem;
//     .card{
//       // padding: .5rem;
//       border: 1px solid lightgray;
//       border-radius: 5px;
//       flex-basis: 48%;
//       @media(min-width:500px){
//         flex-basis: 33%;
//       }
//       @media(min-width:768px){
//         flex-basis: 25%;
//       }
//     }
//   }
// }

.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}
.masonry-item,
.masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: filter 0.25s ease-in-out;
  border: 1px solid lightgrey;
  background: #caab8975;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.masonry-title {
  @extend .txt-center;
}

// swiper
/* basic */
.swiper-container {
  position: relative;
  overflow: hidden;
  height: auto;
}
.swiper-container,
.swiper-wrapper {

  width: 100%;
  @media(min-width:768px){
    height: 100%;
  }
}

.swiper-wrapper {
  // transform: translate3d(-100%, 0, 0)!important;

}

.swiper-slide {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%!important;
  height: 100%;
  font-size: 18px;
  align-items: flex-start;
  cursor: grab;
  img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;
    @media (min-width: 768px) {
      // max-width: 70%;
      height: 100%;
    }
  }
  .swiper-slide--content {
    background: rgba(235, 225, 225, 0.4);
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    // backdrop-filter: blur( 2.5px );
    // -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    // border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    bottom: 10%;
    width: fit-content;
    padding-inline: 1rem;

    h1 {
      // display: inline-block;
      // font-size: 3rem;
      // line-height: 0.9;
      // padding: 20px;
      font-family: $font-heading;
      // text-transform: uppercase;
      // background: radial-gradient(
      //     circle farthest-corner at center center,
      //     #fff,
      //     #333
      //   )
      //   no-repeat;
      // background: #fff;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // background-clip: text;
      @extend .txt-center;
    }
  }
}

/* plugin pagination */
.swiper-plugin-pagination {
  display: flex;
  position: absolute;
  top: 95%;
  left: 50%;
  /* width: 10%; */
  transform: translateX(-50%);
  /* justify-content: space-around; */
  /* height: 100%; */

  &__item {
    /* display: inline-block; */
    margin-inline: 5px;
    width: 10px;
    /* padding-top: 100%; */
    height: 10px;
    border-radius: 50% !important;
    border: none;
    background: #fff;
    transition: background ease 250ms;
    cursor: pointer;
    /* flex-basis: 100%; */
  }

  &__item.is-active {
    background: #333;
  }
}

/* image lazyload */
.swiper-lazy {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all ease 300ms;
}

.swiper-lazy-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-lazy-loaded {
  opacity: 1;
}

.swiper-lazy-preloader::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.88);
  border-radius: 50%;
  border-bottom-color: transparent;
  transform-origin: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}



// slick slider

.slick_slider{
  // min-height: 80vh;

}
.slick-initialized .slick-slide{
  display: flex;
  @extend .flex-col;
  align-items: center;
  @media(min-width: 768px){
  flex-direction: row;
  }

}
.slick_slider--content {
  width: 100%;
  height: 80vh;
  // background-color: hsl(0, 0%, 100%);
  .text{
    h1{
      // @extend .txt-center;
      
    }
  }

  &:nth-child(2) {
    background-color: hsla(353, 74%, 52%, 0.92);
  }
  &:nth-child(3) {
    background-color: hsl(46, 100%, 76%);
    .text {
      flex-basis: 20%;
      // flex: 1;
      h1 {
        color: #bd7013;

      }
    }
  }
  &:nth-child(4) {
    background-color: hsla(146, 69%, 60%, 0.71);
  }
  &:nth-child(5) {
    background-color: hsl(340, 85%, 81%);
  }
  &:nth-child(6) {
    background-color: hsl(186, 77%, 76%);
  }
  // &:nth-child(6) {
  //   background-color: hsl(30, 30%, 86%);
  // }
  @media (min-width: 768px) {
    // flex-direction: row;
    // align-items: center;
  }
  img {
    object-fit: cover;
    max-width: 100%;
    flex-basis: 70%;
// flex: 2;
    @media (min-width: 768px) {
      max-width: 70%;
      height: 100%;
    }
  }
  .text {
    // flex: 100%;
    padding: 2rem;
    h1 {
      font-size: 2.5rem;
      color: #fff;
      // text-align: center;
    }
  }
}

.slick-prev, .slick-next{
  z-index: 10;
  opacity: 1;
  &::before{
  
    content: '';
    background-size: 3rem 3rem;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    display: inline-block;
  background-color: #fff;
  border-radius: 50%;

  }

}
.slick-prev{
  left: 2%;
  &::before{
    background-image: url('/images/icons/left.png');
  }
}
.slick-next{
  right:7%;
  @media(min-width:768px){
  right:4%;
  }
  &::before{
  background-image: url('/images/icons/right.png')!important;
  
  }
  
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots{
  bottom: 10%;
}
.slick-dots li button:before{
  font-size: 1rem;
}