



.prod_details {
  padding-block: 4rem;
  .container {
    // max-width: 95%;
    width: 100%;
    @include flex(normal, space-between, wrap);
    // @extend .gap-2;
    // background: indigo;
    // main child 1
    .prod_details-images {
      @include flex(center, center, wrap);
      // background-color: hotpink;
      // flex-basis: 100%;
      max-width: 100%;

      @media (min-width: 768px) {
        flex-basis: 45%;
      }
      // Sub child1- wrapper-featured_img{
      .wrapper-featured_img {
        // flex-basis: 100%;
        width: 400px;
        #featured {
          min-height: 400px;
          object-fit: cover;
      @media (min-width: 600px) {
        width: 400px;
        height: 500px;
        margin: 0 auto;

      }
        }
      }

      // Sub child2- wrapper-thumb_img
      .wrapper-thumb_img {
        @include flex(center, center, nowrap);
        @extend .mt-1;
        overflow-x: scroll;
        #slideLeft{
          margin-right: 1em;
        }
        #slideRight{
          margin-left: 1em;
        }
        .arrow {
          // width: 3%;
          height: 3rem;
          cursor: pointer;
          display: inline;
          transition: all 250ms ease-in-out;
          &:hover {
            opacity: 0.8;
            // width: 2.5%;
          }
        }

        #prod_slider {
        width: 400px;

          @include flex(center, center, nowrap);
          overflow-x: auto;
          // flex-basis: 85%;
          &::-webkit-scrollbar {
            width: 0;
            &-thumb {
              display: none;
              
            }
          }

          .thumbnail {
            cursor: pointer;
            object-fit: cover;
            width: 70px;
            height: 70px;
            opacity: 0.5;
            margin: .15em;
            // border: 2px solid $clr-primary-dark;
            transition: opacity 250ms ease-in-out;
            &:hover {
              opacity: 1;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }

      
    }

    // main child 2
    .prod_details-desc {
      @media (min-width: 768px) {
        flex-basis: 45%;
      }
      .prod_details-desc--header {
        h1 {
          font-weight: 500;
          font-size: 2.5rem;
          letter-spacing: 1.5;
          // color: $clr-primary-dark;
        }
        .price {
          @extend .mb-1;
          span {
            font-size: 1.5rem;
            color: $clr-accent;
            font-weight: 500;
          }
        }
      }
      .prod_details-desc--content {
        p {
          @extend .mb-1;
          // color: $clr-primary-dark;
        }
      }
    }
  }
}
.rw-ui-mobile-wrapper{
  display: none;
}