.prod-desc-section {
  .container {
    @include flex(normal, space-between, wrap);
    .prod-image {
      flex-basis: 40%;
      .prod-img {
        width: 100%;
        background: $clr-dark;
      }
    }
    .prod-details {
      flex-basis: 40%;
    }
  }
}

/* product single page */
.slick-slide {
  outline: 0;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  border: 0;
  transition: all linear 0.2s;
  background: transparent;
  bottom: -50px;

  &.prevArrow {
    left: calc(50% - 50px);
  }

  &.nextArrow {
    right: calc(50% - 50px);
  }
}

.product-slider {
  .slick-list {
    border: 1px solid $clr-primary;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .slick-dots {
    margin-top: 10px;
    padding-left: 0;
    display: flex;

    li {
      list-style-type: none;
      border: 1px solid $clr-primary;
      margin: 10px;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}
