.products {
  //   background: $clr-primary-600--hsla;

  .container {
    @include flex(normal, center, wrap);
    @extend .gap-1;
    max-width: 90%;
    h2 {
      flex-basis: 100%;
      @extend .txt-center;
      font-size: 2rem;
    }
    .card {
      // padding: 1em;
      // min-height: 20rem;
      @include flex(center, center, nowrap);
      @extend .flex-col;
      @extend .gap-2;
      // border: 1px solid;
      flex: 35%;
      @media (min-width: 768px) {
        flex: 0 25%;
      }

      .card-head {
        // min-height: 5rem;
        flex: 80%;
        // background-color: greenyellow;
        // align-self: center;
        img {
          transition: transform 250ms ease-in;
          &:hover {
            transform: scale(1.2, 1.2);
          }
        }

        a {
          height: 100%;
          // display: block;
          margin: auto;
          display: flex;
          align-items: flex-end;
        }
      }
      .card-body {
        min-height: 10rem;
        flex: 20%;
        // background-color: hotpink;
        @include flex(center, center, nowrap);
        @extend .flex-col;
        .card-title {
          // height: 100%;
          // display: grid;
          // place-items: center;
          @extend .mb-1;
          a {
            font-size: 1.05rem;
            color: $clr-accent-400;
            transition: color 250ms ease-in-out;
            &:hover {
              color: $clr-accent;
            }
          }
        }
        // .card-desc {
        //   height: 100%;
        //   display: grid;
        //   place-items: center;
        //   font-family: "Petit Formal Script", cursive;
        // }
        .price {
          @extend .mb-1;
          s {
            font-size: smaller;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}
