.testimonials {
  background-color: #F8F5F2;
  
  .container {
    /* flex-direction: column; */
    /* justify-content: space-around; */
    @include flex(normal, center, nowrap);
    gap: 2.5em;
    flex-wrap: wrap;
    margin-block: 2em;
    h2 {
        @extend .txt-center;
        flex-basis: 100%;
      }
      .testimonials_card {
        padding: 1.5em;
        border-radius: 10px;
        border-radius: 20px;
        background: #F8F5F2;
        box-shadow:  23px 23px 50px #636261,
                     -23px -23px 50px #ffffff;
        @media(min-width:768px){
            flex-basis: 40%;
    
            }
        @media(min-width:991px){
        flex-basis: 20%;

        }
        h4 {
            @extend .my-1

        }
      }
  }
}


