.testimonials {
    background-color: hsl(37, 29%, 68%);
    h1{
        @extend .txt-center;
    }
.testimonial_flex {
    /* flex-direction: column; */
    /* justify-content: space-around; */
    @include flex(center,center);
    gap: 2.5em;
    flex-wrap: wrap;
    margin-block: 2em;

}

}

.testimonials_card {
    padding: 1.5em;
    max-width: 20rem;
    /* aspect-ratio: 1/1.2; */
    border-radius: 10px;
    background: #C5B396;
    box-shadow: 20px -20px 60px #a79880,
        -20px 20px 60px #e3cead;
    /* margin-top: 2em; */
    h5{
margin-block: 1em;
}

}
