{{ define "main" }}
<style>
    .header{
        background: url('/images/Multipurpose/Home_Storage/7.jpg')hsl(37, 29%, 67%) fixed no-repeat center;
        /* background-blend-mode: multiply; */
        background-size: cover;
        height: 70vh;
    }
    .infoPage .container{
        max-width: 70%;
        width: 800px;
        color: #000;
    }

</style>

<section class="header">
    
</section>

<section class="infoPage">
    <div class="container">
        <h1>{{.Title}} </h1>
    
        {{.Content}}
    </div>
</section>

{{ end }}